<!DOCTYPE html>
<html ng-app="faq">
<head>
    <link href="../../Content/Custom/customNav.css" rel="stylesheet" />
    <link href="../../Content/Custom/MainSheet.css" rel="stylesheet" />
    <link href="../../Content/Custom/SideMenu.css" rel="stylesheet" />
    <script src="../LibJS/jquery-2.1.1.min.js"></script>
    <script src="../LibJS/angular.min.js"></script>
    <script src="../LibJS/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="controller.js"></script>
    <title>Hello World</title>
</head>
<body ng-controller="controller">
    <div class="container">
        <div class="navbar navbar-inner" role="navigation" style="margin-bottom:0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a href="#" id="homeLink"><img src="../../Content/img/logo/snublevann_light_transparent.png" id="logo" width="500" height="96" style="margin-top: 20px; margin-left:20px" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="navUl pull-right">
                                <a href="" ng-click="showNewQuestionForm()">Nytt spørsmål</a>
                                <a href="" ng-click="showFAQFunction()">FAQ</a>
                                <a href="" ng-click="showAdminFunction()">Admin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div ng-show="showForm">
                        <form name="newquestionform">
                            <div class="form-group">
                                <label>Spørsmål</label>
                                <input class="form-control" name="formQuestion" ng-model="formQuestion" ng-required="true" />
                                <p class="label label-info" ng-show="newquestionform.question.$invalid && newquestionform.question.$dirty">Spørsmålet inneholder ulovlige tegn</p>
                            </div>
                            <div class="form-group">
                                <label>Kategori</label>
                                <select class="form-control input-lg" ng-model="category" ng-options="category as category.name for category in categories" ng-required="true">
                                    <option value="">---velg en kategori---</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>E-post</label>
                                <input class="form-control" name="formEmail" ng-model="formEmail" ng-required="true" ng-pattern="/^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$/" />
                                <p class="label label-info" ng-show="newquestionform.email.$invalid && newquestionform.email.$dirty">Feil i epost</p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="saveNewQuestion()" ng-disabled="newquestionform.$invalid">Send spørsmål</button>
                            </div>
                        </form>

                    </div>
                    <div class="panel-default panel col-md-6 col-md-offset-3" ng-show="showThanks">
                        <h2>Takk for ditt spørsmål</h2>
                        <p>Spørsmålet er blitt sendt til vår kundeavdeling. Du vil få svar på e-posten du oppga i løpet av 48 timer.</p>
                        <p>Det er muligheter for at ditt spørsmål og vårt svar vil bli lagt ut på vår FAQ dersom vi mener at spørsmålet kan ha relevans for andre. Du vil selvfølgelig bli anonymisert.</p>
                        <p>Med vennlig hilsen Snublevann.no</p>
                        <p>aoesntuh</p>

                    </div>
                    <div class="panel-default panel col-md-12" ng-show="showFAQ">
                        <div class="page-header">
                            <h2>Frequently Asked Questions <small>Finner du ikke svar her, så still et spørsmål selv!</small></h2>
                        </div>
                        <div class="row" ng-repeat="categories in rowhack">
                            <div ng-repeat="category in categories" class="col-md-6">
                                <div class="page-header">
                                    <h3 class="nav" ng-click="showCategoryFunction(category.id)"><span class="glyphicon {{category.glyph}}"></span> {{category.name}}</h3>
                                </div>
                                <div class="panel-body">                               
                                    <div ng-repeat="q in category.questions"> 
                                        <a href="#" ng-click="showQuestionFunction(q)">{{q.question}}</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="panel-default panel col-md-12" ng-show="showLoading">
                        <p>Laster inn data...</p>
                    </div>
                    <div class="panel-default panel col-md-12" ng-show="showCategory">
                        <center><h3>{{category.name}}</h3></center>
                            
                    </div>
                    <div ng-show="showCategory">
                        <accordion close-others="false">
                            <accordion-group heading="{{question.question}}" ng-repeat="question in questions" is-open="status.isOpen[question.id]">
                                <p class="lead">{{question.answer.Answer}}</p>
                                <p><small>{{question.upvotes}} personer har funnet dette spørsmålet nyttig. Fikk du svar på det du lurte på? <button class="btn btn-success" ng-click="upVote(question)"><span class="glyphicon glyphicon-thumbs-up"></span>Ja!</button> <button class="btn btn-danger" ng-click="showNewQuestionForm()"><span class="glyphicon glyphicon-thumbs-down"> Nei!</span></button></small></p>
                            </accordion-group>


                        </accordion>
                    </div>
                    <div ng-show="showAdmin">
                        <div class="panel pane-default">
                            <ul class="list-group">
                                <li class="list-group-item" ng-click="answerQuestion(question.id)" ng-repeat="question in questions">{{question.question}}</li>
                                <li class="list-group-item" ng-show="!questions.length">Ingen ubesvarte spørsmål</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row"></div>

                </div>

                <div class="row">
                    <div class="footer">
                        <div class="jumbotron footerjumbo">
                            Copyright &copy; 2014 Snublevann - All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space" style="width:100%; height:10px"></div>
</body>
</html>
