<!DOCTYPE html>
<html ng-app="faq">
<head>
    <link href="../../Content/Custom/customNav.css" rel="stylesheet" />
    <link href="../../Content/Custom/MainSheet.css" rel="stylesheet" />
    <link href="../../Content/Custom/SideMenu.css" rel="stylesheet" />
    <script src="../LibJS/jquery-2.1.1.min.js"></script>
    <script src="../LibJS/angular.min.js"></script>
    <script src="../LibJS/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="faqController.js"></script>
    <title>Hello World</title>
    <!-- For å få hele accordion klikkbar, og ikke bare headerteksten (flyttet ng-click="toggleOpen()" fra a til div)-->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
        <div class='panel panel-default'>
            <div class='panel-heading' ng-click='toggleOpen()'>
                <h4 class='panel-title'>
                    <a class='accordion-toggle' accordion-transclude='heading'><span ng-class='{"text-muted": isdisabled}'>{{heading}}</span></a>
                </h4>
            </div>
            <div class='panel-collapse' collapse='!isOpen'>
                <div class='panel-body' ng-transclude></div>
            </div>
        </div>
    </script>
</head>
<body ng-controller="controller">
    <div class="container">
        <div class="navbar navbar-inner" role="navigation" style="margin-bottom:0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="row">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a href="#" id="homeLink"><img src="../../Content/img/logo/snublevann_light_transparent.png" id="logo" width="500" height="96" style="margin-top: 20px; margin-left:20px" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="navUl pull-right">
                                <a href="" ng-click="showNewQuestionForm()">Nytt spørsmål</a>
                                <a href="" ng-click="showFAQFunction()">FAQ</a>
                                <a href="" ng-click="showAdminFunction()">Admin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="panel-default panel col-md-12" ng-show="showForm">
                        <div class="page-header">
                            <h2>Still et spørsmål <small>Vi svarer fortløpende!</small></h2>
                        </div>
                        <form name="newquestionform">
                            <div class="row">
                                <div class="col-md-6">
     
                                    <div class="form-group" ng-class="{'has-error':newquestionform.formCategory.$invalid && newquestionform.formCategory.$dirty, 'has-success':!newquestionform.formCategory.$invalid && newquestionform.formCategory.$dirty}">
                                        <label>Kategori</label>
                                        <select class="form-control" ng-model="category" ng-options="category as category.name for category in categories" ng-required="true" name="formCategory">
                                            <option value="">---velg en kategori---</option>
                                        </select>
                                        <p class="help-block" ng-show="newquestionform.formCategory.$invalid && newquestionform.formCategory.$dirty">Du må velge en kategori fra listen</p>
                                    </div>
                                
                             
                                    <div class="form-group" ng-class="{'has-error':newquestionform.formEmail.$invalid && newquestionform.formEmail.$dirty, 'has-success':!newquestionform.formEmail.$invalid && newquestionform.formEmail.$dirty}">
                                        <label>E-post</label>
                                        <input class="form-control" name="formEmail" ng-model="formEmail" ng-required="true" ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" />
                                        <p class="help-block" ng-show="newquestionform.formEmail.$invalid && newquestionform.formEmail.$dirty">ikke gyldig epostadresse</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error':newquestionform.formQuestion.$invalid && newquestionform.formQuestion.$dirty,'has-success':!newquestionform.formQuestion.$invalid && newquestionform.formQuestion.$dirty}">
                                        <label>Spørsmål</label>
                                        <textarea rows="5" class="form-control" name="formQuestion" ng-model="formQuestion" ng-required="true"></textarea>
                                        <p class="help-block" ng-show="newquestionform.formQuestion.$invalid && newquestionform.formQuestion.$dirty">Feltet kan ikke være tomt!</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="saveNewQuestion()" ng-disabled="newquestionform.$invalid">Send spørsmål</button>
                            </div>
                        </form>

                    </div>
                    <div class="panel-default panel col-md-6 col-md-offset-3" ng-show="showThanks">
                        <h2>Takk for ditt spørsmål</h2>
                        <p>Spørsmålet er blitt sendt til vår kundeavdeling. Du vil få svar på e-posten du oppga i løpet av 48 timer.</p>
                        <p>Det er muligheter for at ditt spørsmål og vårt svar vil bli lagt ut på vår FAQ dersom vi mener at spørsmålet kan ha relevans for andre. Du vil selvfølgelig bli anonymisert.</p>
                        <p>Med vennlig hilsen Snublevann.no</p>
                        <p>aoesntuh</p>

                    </div>
                    <div class="panel-default panel col-md-12" ng-show="showFAQ">
                        <div class="page-header">
                            <h2>Frequently Asked Questions <small>Finner du ikke svar her, så still et spørsmål selv!</small></h2>
                        </div>
                        <div class="row" ng-repeat="categories in rowhack">
                            <div ng-repeat="category in categories" class="col-md-6">
                                <div class="page-header">
                                    <h3 class="nav" ng-click="showCategoryFunction(category.id)"><span class="glyphicon {{category.glyph}}"></span> {{category.name}}</h3>
                                </div>
                                <div class="panel-body">                               
                                    <div ng-repeat="q in category.questions"> 
                                        <a href="#" ng-click="showQuestionFunction(q)">{{q.question}}</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="panel-default panel col-md-12" ng-show="showLoading">
                        <center><p>Laster inn data...</p></center>
                    </div>
                    <div class="panel-default panel col-md-12" ng-show="showCategory">
                        <div class="page-header">
                            <center><h2>{{category.name}}</h2></center>
                        </div>
                        <accordion close-others="false">
                            <accordion-group heading="{{question.question}}" ng-repeat="question in questions" is-open="status.isOpen[question.id]">
                                <p class="lead">{{question.answer.answer}}</p>
                                <p><small>{{question.upvotes}} personer har funnet dette spørsmålet nyttig. Fikk du svar på det du lurte på? <button class="btn btn-success" ng-click="upVote(question)"><span class="glyphicon glyphicon-thumbs-up"></span>Ja!</button> <button class="btn btn-danger" ng-click="showNewQuestionForm()"><span class="glyphicon glyphicon-thumbs-down"> Nei!</span></button></small></p>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="panel-default panel col-md-12" ng-show="showAdmin">
                        <div class="page-header">
                            <h2>Ubesvarte spørsmål <small>Alle spørsmål søker et svar...</small></h2>
                        </div>
                        
                        <accordion close-others="false">
                            <accordion-group ng-repeat="category in categories" >
                                <accordion-heading>{{category.name}} <span class="badge pull-right">{{category.questions.length}}</span></accordion-heading>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="question in category.questions" ng-click="answerQuestion(question)">{{question.question}}<span class="badge">{{question.asked}}</span></li>
                                    <li class="list-group-item list-group-item-danger" ng-show="!category.questions.length">Ingen ubesvarte spørsmål</li>
                                </ul>
                            </accordion-group>
                        </accordion>                      
                    </div>
      
                    <div class="panel-default panel col-md-12" ng-show="showAnswerForm">
                        <div class="page-header">
                            <h2>Svar på spørsmålet! <small>Spørsmål og kategori kan endres til mer passende verdier om nødvendig</small></h2>
                        </div>
                        <form name="answerform">
                            <div class="form-group" ng-class="{'has-error':answerform.answerFormQuestion.$invalid,'has-success':answerform.answerFormQuestion.$valid}">
                                <label>Spørsmål</label>
                                <input class="form-control" name="answerFormQuestion" ng-model="answerFormQuestion" ng-required="true"/>
                                <p class="help-block" ng-show="answerform.answerFormQuestion.$invalid">Spårsmålet kan ikke være tomt!</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error':answerform.answerFormCategory.$invalid,'has-success':answerform.answerFormCategory.$valid}">
                                <label>Kategori</label>
                                <select class="form-control input-lg" name="answerFormCategory" ng-model="category" ng-options="category as category.name for category in categories" ng-required="true">
                                </select>
                                <p class="help-block" ng-show="answerform.answerFormQuestion.$invalid">Du må velge en kategori fra listen</p>
                            </div>
                            <div class="form-group has-success">
                                <label>E-post</label>
                                <input class="form-control disabled" name="answerFormEmail" ng-model="answerFormEmail" ng-readonly="true"/>
                            </div>
                            <div class="form-group has-success">
                                <label>Dato</label>
                                <input class="form-control disabled" name="answerFormDate" ng-model="answerFormDate" ng-readonly="true"/>
                            </div>
                            <div class="form-group" ng-class="{'has-error':answerform.answerFormAnswer.$invalid && answerform.answerFormAnswer.$dirty, 'has-success':answerform.answerFormAnswer.$valid && answerform.answerFormAnswer.$dirty}">
                                <label>Svar</label>
                                <input class="form-control" name="answerFormAnswer" ng-model="answerFormAnswer" ng-required="true"/>
                                <p class="help-block" ng-show="answerform.answerFormAnswer.$invalid && answerform.answerFormAnswer.$dirty">Svaret kan ikke være tomt!</p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="saveAnswer(false)" ng-disabled="answerform.$invalid">Svar på epost + FAQ</button>
                                <button class="btn btn-default" ng-click="saveAnswer(true)" ng-disabled="answerform.$invalid">Kun svar på epost</button>
                            </div>
                            
                        </form>
                    </div>
                    
                    <div class="row"></div>

                </div>

                <div class="row">
                    <div class="footer">
                        <div class="jumbotron footerjumbo">
                            Copyright &copy; 2014 Snublevann - All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space" style="width:100%; height:10px"></div>
</body>
</html>
